.Nav{
    margin-right: auto;    
    margin-left: auto;    
    width: 100%;    
    max-width: 100%;    
    min-width: 1000px; 
    background-color: blueviolet;
    opacity: 80%;
    height:60px;
}